<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{{ path('learning_learn') }}">
                    LearningLangs
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% set currentPath = path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {{ currentPath is same as (path('learning_word_progress_index')) ? 'active' : '' }}" href="{{ path('learning_word_progress_index') }}">Words</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="vr mx-2 my-2"></div>
                            <li class="nav-item">
                                <div class="nav-link active">Admin menu: </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{ currentPath is same as (path('learning_word_index')) ? 'active' : '' }}" href="{{ path('learning_word_index') }}">Words</a>
                            </li>
                        {% endif %}
                    </ul>


                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ms-auto">
                        <!-- Authentication Links -->
                        {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre="">
                                {{ app.user.userIdentifier }}
                            </a>

                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('security_logout') }}"
                                   onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                    Logout
                                </a>

                                <form id="logout-form" action="{{ path('security_logout') }}" method="POST" class="d-none">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}">
                                </form>
                            </div>
                        </li>
                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link {{ currentPath is same as (path('security_login')) ? 'active' : '' }}" href="{{ path('security_login') }}">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{ currentPath is same as (path('profile_registration_register')) ? 'active' : '' }}" href="{{ path('profile_registration_register') }}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label is same as('error') ? 'danger' : label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
