{% extends '@infrastructure/base.html.twig' %}

{% block body %}
<div class="py-4 container bg-white rounded-3 p-5 pt-4 mt-5">
    <div class="d-flex mb-3">
        <div><h2>Words list</h2></div>
        <div class="ms-auto align-self-end">
            <a href="{{ path('learning_word_new') }}" class="btn btn-primary ml-auto">Add word</a>
        </div>
    </div>
    <table class="table me-2">
        <thead>
        <tr>
            <th>ID</th>
            <th>English</th>
            <th>Russian</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
        <tr>
            <td>{{ word.id }}</td>
            <td>
                <a class="text-decoration-none" href="{{ path('learning_word_show', {'id': word.id}) }}">{{ word.english }}</a>
            </td>
            <td>
                <a class="text-decoration-none" href="{{ path('learning_word_show', {'id': word.id}) }}">{{ word.russian }}</a>
            </td>
            <td>
                <div>
                    <a href="{{ path('learning_word_update', {'id': word.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                    <form class="d-inline-block" action="{{ path('learning_word_delete', {'id': word.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete-word') }}">
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(words) }}
    </div>
</div>
{% endblock %}
